*{
    outline: 1px solid red;
}

.wrapper{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    bottom: 0;
}

.bg{
    z-index: -2;
    position: absolute;
    margin:0;
    padding:0;
    width: 100vw;
    height: 100vh;
    background-image: url("../imgs/logo_grupo_wh.png");
    background-size: 300px, 200px; 
    filter: blur(5px)  opacity(10%);;
}

.top{
    position: fixed;
    width: 100vw;
    height: auto;
}

nav{
    position: fixed;
    width: 100vw;
    height: 10vh;
}

.container-fluid{

    background-color: #000000;
}

.logo{
    position: relative;
    margin-left: 1%;
    height: 50px;
    width: 75px;
}

.logo_principal{
    z-index: -1;
    position: absolute;
    width: 100vw;
    height: 85vh;
    top: 66px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    outline: 1px solid blue;
}
.logo_principal img{
    align-self: center;
    max-width:  738px;
    width: 40vw;
    min-width: 400px;
    height: auto;
}

.logo_principal a{
    align-self: center;
    font-size: clamp(1.4em, 1.5vw, 2.6em);
}

.content{
    position: relative;
    width: 100%;
    height: 100%;
}