*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    border: 1px solid tomato;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}
div div{
    font-size: 48px;
    text-align: center;
    /* background-color: aqua; */
    width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
@media (max-width:600px) {
    div img{
        max-width: 100%;
    }
    div{
        flex-direction: column;
        align-items: center;
        gap: 10%;
    }
    div div{
        text-justify:distribute-all-lines;
        font-size: 25px;
        width: 100%;
    }
}